<!DOCTYPE html>
<html>
  <head>
    <title>Cookbook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "Categorias", categories_path %> <br>
    <%= link_to "Autores", authors_path %>
    <%= link_to "Recetas", recipes_path %>
    <%= link_to "Tipos de Recetas", recipe_types_path %>
    <%= yield %>
  </body>
</html>
